h2 {
  text-align: center;
}
.main-text {
  text-align: center;
  font-size: x-large;
}
.contact {
  background: rgb(133, 170, 185);
}
.contact form {
  text-align: center;
  max-width: 50rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}
.contact form input,
.contact form textarea {
  width: 100%;
  color: var(--text-color);
  background: rgb(51, 50, 50);
  margin-bottom: 0.9rem;
  border: none;
  border-radius: 7px;
  padding: 0.8rem;
}

.contact form textarea {
  resize: none;
}
.formBtn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.formBtn .btn {
  font-size: pointer;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 30px;
}

footer {
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(117, 89, 94);
}

footer p {
  color: cadetblue;
}
footer a {
  display: inline-flex;
  justify-content: center;
  color: whitesmoke;
  background: chartreuse;
  padding: 0.6rem;
  border-radius: 6px;
}
footer a i {
  font-size: 1rem;
  color: var(--sccon-bg-color);
}
/*parallax---------------------------------------*/
.scroll-scale {
  opacity: 0;
  transform: scale(0.9);
  transition: all 2s;
}
.scroll-top {
  opacity: 0;
  transform: translateY(-300px);
  transition: 3s;
}
.show-items {
  opacity: 1;
  transform: translateX(0);
}
